<!-- {% extends "core/base.html" %}

{% block content %}
  <div class="container mt-5">
    <h1>Create a New Task</h1>
    <form method="POST" class="bg-[#0d1c2a] p-4 rounded-md">
      {% csrf_token %} -->
      
      <!-- Task Title -->
      <!-- <div class="form-group">
        <label for="id_title" class="text-[#9abad8]">Task Title</label>
        {{ task_form.title }}
        {% if task_form.title.errors %}
          <div class="text-danger">
            {% for error in task_form.title.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div> -->

      <!-- Category Dropdown -->
      <!-- <div class="form-group">
        <label for="category" class="text-[#9abad8]">Category</label>
        <select class="form-control" id="category" name="category">
          <option value="" selected>Select a Category</option>
          {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
        </select>
      </div> -->
      
      <!-- Submit Button -->
      <!-- <button type="submit" class="btn btn-primary mt-3 w-full">Create Task</button>
    </form>
  </div>
{% endblock %} -->
